<nav class="navbar navbar-expand-lg navbar-light mt-12 mt-lg-3 p-0">
    <a class="navbar-brand pb-3" [routerLink]="['/']">
        <img src="/assets/images/logo.svg" width="300" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  d-flex flex-row">
            <li class="nav-item active ">
                <!-- <a [routerLink]="['/shop']" class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0"> -->
                <a href="http://order.imjwz.com/shop/" class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0">
                    <img src="/assets/images/menu01.png" alt="" srcset="">
                    <p class="mb-0 mt-2">訂購飲料</p>
                </a>
            </li>
            <!-- <li class="nav-item active ">
				<a class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0" href="#">
					<img src="/assets/images/menu02.png" alt="" srcset="">
					<p class="mb-0 mt-2">訂購食物</p>
				</a>
			</li> -->
            <li class="nav-item active ">
                <a [routerLink]="['/result']" class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0">
                    <img src="/assets/images/menu03.png" alt="" srcset="">
                    <p class="mb-0 mt-2">訂單統計</p>
                </a>
            </li>
            <li class="nav-item active ">
                <a class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0">
                    <img src="/assets/images/menu04.png" alt="" srcset="">
                    <p class="mb-0 mt-2">訂單管理</p>
                </a>
            </li>
            <!-- <li class="nav-item active ">
				<a class="menu-btn text-white d-flex align-items-center justify-content-center flex-column p-0" href="#">
					<img src="/assets/images/menu05.png" alt="" srcset="">
					<p class="mb-0 mt-2">贊助ＢＢ</p>
				</a>
			</li> -->
        </ul>

    </div>
</nav>