<section class="shop-content rounded py-3">
    <div class="container">
        <div class="row" *ngIf="!showSuccessed">
            <div class="col-12 col-md-6 col-xl-4 mb-3" *ngFor="let item of shopData">
                <div class="card">
                    <div class="card-header">{{ item.NAME }}</div>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-dark" *ngFor="let shop of item.SHOP_BRANCHES" (click)="openModalWithComponent(template,item.NAME,shop)">{{shop.NAME}}</button>

                    </div>
                </div>
            </div>

        </div>
        <div class="row d-flex justify-content-center" *ngIf="showSuccessed">
            <div class="col-12 d-flex flex-column align-items-center justify-content-center my-5">
                
                <h1>這是您的訂購飲料網址</h1>
                <h1>請記得複製!離開頁面就沒囉!</h1>
                <div class="input-group" style="width:60%;">
                    <input type="text" class="form-control" [(ngModel)]="showOrderID">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ngxClipboard [cbContent]="showOrderID" (cbOnSuccess)="successFun()">copy</button>
                    </span>
                    <div class="my-3"></div>
                </div>
                <div style="width:60%;">
                        <nz-alert [nzType]="'success'" [nzMessage]="'Copy Success'" *ngIf="showSuccess"
                        nzShowIcon></nz-alert>
                </div>

                <br>
                <br>
                <br>
                <a class="btn btn-primary btn-lg" style="width:120px;" [href]="showOrderID">立即前往</a>
            </div>
        </div>
    </div>
</section>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">新增飲料訂購單</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="orderData" (ngSubmit)="submit()">
        <div class="modal-body">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>訂購店家</label>
                    <input class="form-control" type="text" placeholder="" [value]="DISPLAYNAME" disabled>
                    <input class="form-control" type="hidden" placeholder="" formControlName="SHOP">
                </div>
                <div class="form-group col-md-6">
                    <label>修改密碼(管理訂單用)</label>
                    <input class="form-control" type="password" placeholder="" formControlName="EDIT_PW">
                </div>
            </div>
            <div class="form-group">
                <label>問卷名稱</label>
                <input class="form-control" type="text" placeholder="" formControlName="NAME">
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label>截止時間</label>
                <timepicker formControlName="END_TIME" [showMeridian]="ismeridian" [min]="START_TIME"></timepicker>
            </div>
            <div class="form-group">
                <label>備註</label>
                <textarea class="form-control" name="" id="" cols="10" rows="3" formControlName="NOTE"></textarea>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">取消</button>
            <button type="submit" class="btn btn-primary" [disabled]="orderData.invalid">新增</button>
        </div>
    </form>
</ng-template>