<app-header [headerID]="QDrinkId"></app-header>
<section class="order-content rounded">
    <div class="container">
        <div class="row content-header rounded-top" *ngIf="shopInfo">
            <div class="col-md-12">
                <div class="shop-info my-2 d-xl-flex text-white">
                    <p class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-home" aria-hidden="true"></i>：{{shopInfo.SHOP_NAME}}</p>
                    <p *ngIf="shopInfo.PHONE2" class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-phone" aria-hidden="true"></i>：{{shopInfo.PHONE1}} / {{shopInfo.PHONE2}}</p>
                    <p *ngIf="!shopInfo.PHONE2" class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-phone" aria-hidden="true"></i>：{{shopInfo.PHONE1}}</p>
                    <p class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>：{{shopInfo.ADDRESS}}</p>
                    <div class=" ml-auto mt-2 mt-xl-0">
                        <button type="button" class="btn  btn-outline-light btn-sm" data-toggle="modal" data-target="#exampleModal">看菜單在這裡</button>
                        <!-- <button type="button" class="btn btn-warning btn-sm" (click)="chooseSelf()" *ngIf="step1">選項沒我要的</button> -->
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">菜單明細 </h5>
                                    <div class="ml-auto">
                                        <a [href]="shopInfo.PIC_URL" target="_blank" class="btn btn-outline-secondary btn-sm">老花眼？看大張！</a>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <img width="100%" [src]="shopInfo.PIC_URL" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 mt-3">
                <div class="alert alert-danger alert-dismissible fade show h4" role="alert" *ngIf="isShowVersion">
                    更新:新增訂購人與訂購密碼存進localStorage，下次就不用打了，客製化飲料底線加粗顯示。
                </div>

                <div class="alert alert-light alert-dismissible fade show" role="alert" *ngIf="questionInfoData">
                    訂購主旨：{{questionInfoData.NAME}}
                    <br> 訂購時間：{{questionInfoData.START_TIME | date:'MM/dd HH:mm'}} ~ {{questionInfoData.END_TIME | date:'MM/dd
                    HH:mm'}}
                    <br> 訂購須知：{{questionInfoData.NOTE}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>



        <!-- STEP - 2 糖度冰量選擇 -->
        <div class="row" *ngIf="step2">
            <div class="col-12 mb-3">
                <table class="rwd-table">
                    <tbody>
                        <tr>
                            <th class="t0">大名</th>
                            <th class="t6">密碼
                                <i class="fa fa-question-circle" nz-tooltip="如果你訂完後，後悔要刪除時的刪除密碼"></i>
                            </th>
                            <th class="t1">飲品</th>
                            <th class="t2">甜度</th>
                            <th class="t3">冰塊</th>
                            <th class="t4">加料</th>
                            <th class="t5">備註</th>

                        </tr>
                        <tr>
                            <td data-th="大名" class="spcing">
                                <nz-input [(ngModel)]="inputWho" [nzPlaceHolder]="'哪位帥哥美女?'"></nz-input>
                            </td>
                            <td data-th="密碼" class="spcing">
                                <nz-input [nzType]="'password'" [(ngModel)]="inputPW" [nzPlaceHolder]="'密碼'"></nz-input>

                            </td>
                            <td data-th="飲品" class="spcing">{{drinkItem}}</td>
                            <td data-th="甜度" class="spcing">

                                <nz-select [(ngModel)]="selectedSUGAROption" [nzPlaceHolder]="'甜度選擇'" [nzDisabled]="selectSugarDefault" nzAllowClear>
                                    <nz-option *ngFor="let option of optionsSUGAR" [nzLabel]="option.NAME" [nzValue]="option.NAME">
                                    </nz-option>
                                </nz-select>

                            </td>
                            <td data-th="冰塊" class="spcing">

                                <nz-select [(ngModel)]="selectedICEOption" [nzPlaceHolder]="'冰量選擇'" nzAllowClear>
                                    <nz-option *ngFor="let option of optionsICE" [nzLabel]="option.NAME" [nzValue]="option.NAME">
                                    </nz-option>
                                </nz-select>
                            </td>
                            <td data-th="加料" class="spcing">
                                <nz-select [nzMode]="'multiple'" [nzPlaceHolder]="'加料請點我'" [(ngModel)]="selectedMultipleOption" [nzNotFoundContent]="'沒有選項喔'">
                                    <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.NAME + ' +' + option.PRICE" [nzValue]="option.NAME + ',' + option.PRICE"
                                        [nzDisabled]="option.disabled">
                                    </nz-option>
                                </nz-select>
                            </td>
                            <td data-th="備註" class="spcing">
                                <nz-input [(ngModel)]="inputNote" [nzPlaceHolder]="'備註'"></nz-input>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-12 text-center my-3">
                <button nz-button [nzType]="'default'" (click)="reOrderDrink()">
                    <span>重選</span>
                </button>
                <button nz-button [nzType]="'primary'" (click)="orderDrink()" [disabled]="checkOrder()">
                    <span>訂購</span>
                </button>
            </div>
            <!-- <div class="col-6 text-left my-3">
                <span class="add-order">
                    <i class="fa fa-plus-circle"></i> 我要加點</span>
            </div>
            <div class="col-6 text-right my-3">
                <button type="button" class="btn btn-primary">訂購</button>
            </div> -->

        </div>


        <!-- STEP - 1 糖度冰量選擇 -->
        <div class="row">
            <div class="col-12 mb-3" *ngIf="isChooseSelf">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">名稱</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sizeselect d-flex align-items-center">
                            <span class="mr-2">尺寸</span>
                            <input type="radio" id="S" name="sizeselect">
                            <label for="S" class="mb-0 ml-1">S</label>
                            <input type="radio" id="M" name="sizeselect">
                            <label for="M" class="mb-0 ml-1">M</label>
                            <input type="radio" id="L" name="sizeselect">
                            <label for="L" class="mb-0 ml-1">L</label>
                            <button type="button" class="btn btn-outline-success btn-sm ml-auto">確定</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 mb-3 d-flex align-items-center" *ngIf="step1">
            <span class="season-default-qa mr-2"></span>
            <span style="font-size: 10px">季節限定</span>
            <span class="sugar-default-qa mx-2"></span>
            <span style="font-size: 10px">甜度固定</span>
        </div>
        <div class="card-columns mt-1" *ngIf="!isChooseSelf && step1">
            <div class="card p-0 border-0" *ngFor="let item of menu">
                <div class="drink-category">
                    <div (click)="openMenu(category)" class="drink-category_title d-flex py-1 mb-2 align-items-center justify-content-between">
                        <div class="category_name">{{item.NAME}}</div>
                        <div class="category-tag d-flex flex-row-reverse mr-2">
                            <span *ngIf="item.SEASON_ONLY" class="category_tag_winner">季節限定</span>
                            <span *ngIf="item.SUGAR_DEFAULT" class="category_tag_sugar">甜度固定</span>
                        </div>
                    </div>

                    <ul class="drink-category_list px-1" #category>
                        <li class='drink-category_item d-flex p-0 py-2' *ngFor="let detail of item.ITEM" [ngStyle]="{'border-bottom':detail.ID === 687 ? '3px solid red' : '' }">
                            <!-- <span class="is-hot">H</span> -->
                            <div class="drink_name pl-3">
                                <span class="season-default" *ngIf="detail.SEASON_ONLY"></span>
                                <span class="sugar-default" *ngIf="detail.SUGAR_DEFAULT"></span>{{detail.NAME}}</div>
                            <div class="ml-auto">
                                <span *ngIf="detail.M_PRICE" class="price" (click)="selectDrinkItem(detail,'M',detail.M_PRICE)">
                                    <i class="m-size"></i>
                                    {{detail.M_PRICE}}
                                </span>
                                <span *ngIf="detail.L_PRICE" class="price" (click)="selectDrinkItem(detail,'L',detail.L_PRICE)">
                                    <i class="l-size"></i>
                                    {{detail.L_PRICE}}
                                </span>
                                <span *ngIf="detail.C_PRICE" class="price" (click)="selectDrinkItem(detail,'C',detail.C_PRICE)">
                                    <i class="c-size"></i>
                                    {{detail.C_PRICE}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>