<section class="order-content rounded">
    <div class="container">
        <div class="row content-header rounded-top" *ngIf="shopInfo">
            <div class="col-md-12">
                <div class="shop-info my-2 d-md-flex text-white">
                    <p class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-home" aria-hidden="true"></i>：{{shopInfo.SHOP_NAME}}</p>
                    <p *ngIf="shopInfo.PHONE2" class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-phone" aria-hidden="true"></i>：{{shopInfo.PHONE1}} / {{shopInfo.PHONE2}}</p>
                    <p *ngIf="!shopInfo.PHONE2" class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-phone" aria-hidden="true"></i>：{{shopInfo.PHONE1}}</p>
                    <p class="mb-0 mr-3 align-self-center">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>：{{shopInfo.ADDRESS}}</p>
                    <div class=" ml-auto">
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">看菜單</button>
                        <button type="button" class="btn btn-default btn-sm ml-2">看結果</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">菜單明細 </h5>
                                    <div class="ml-auto">
                                        <a [href]="shopInfo.NOTE" target="_blank" class="btn btn-outline-secondary btn-sm">老花眼看大張</a>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <img width="100%" [src]="shopInfo.NOTE" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    11:30 收攤哦 加點費用 100 元
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-columns">
            <div class="card p-0 border-0" *ngFor="let item of menu">
                <div class="drink-category">
                    <div (click)="openMenu(category)" class="drink-category_title d-flex py-2 mb-2 align-items-center justify-content-between">
                        <div class="category_name">{{item.NAME}}</div>
                        <div class="category-tag d-flex flex-row-reverse mr-2">
                            <span *ngIf="item.SEASON_ONLY" class="category_tag_winner">冬季限定</span>
                            <span *ngIf="item.SUGAR_DEFAULT" class="category_tag_sugar">甜度固定</span>
                        </div>
                    </div>

                    <ul class="drink-category_list px-1" #category>
                        <li class='drink-category_item d-flex p-0 py-2' *ngFor="let detail of item.ITEM">
                            <!-- <span class="is-hot">H</span> -->
                            <div class="drink_name pl-3">{{detail.NAME}}</div>
                            <div class="ml-auto">
                                <span *ngIf="detail.M_PRICE" class="price" (click)="selectDrinkItem(detail.ID,'M',detail.NAME,detail.M_PRICE)">
                                    <i class="m-size"></i>
                                    {{detail.M_PRICE}}
                                </span>
                                <span *ngIf="detail.L_PRICE" class="price" (click)="selectDrinkItem(detail.ID,'L',detail.NAME,detail.M_PRICE)">
                                    <i class="l-size"></i>
                                    {{detail.L_PRICE}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>