<app-header [headerID]="QDrinkId"></app-header>

<section class="index-content rounded">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <h2 class="mb-3">Q & A</h2>
                    <nz-collapseset [nzBordered]="false">
                            <nz-collapse *ngFor="let panel of panels" [nzTitle]="panel.name" [nzActive]="panel.active">
                                <p>{{panel.content}}</p>
                            </nz-collapse>
                        </nz-collapseset>
            </div>
        </div>
    </div>
</section>